body {
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-family: "Roboto", sans-serif;
    background-color: #383B39;
    color: #EDFAF1;
    

      
  
  }
  
   
  
  h1 {
    color: black;
    text-align: center;
    background: #B4BEB7;
    border-radius: 25px;
    padding: 20px;
      
   
  }
  
  h2 {
    color: black;
    text-align: center;
    background: #D5E0D9;
    border-radius: 25px;
    padding: 20px;
    
  }
  
  main,footer,div {
     background: #747A76;
    border-radius: 25px;
      padding: 10px;
        
  }

  a{
    color: black;
    background: #747A76;
  }
  
  img{
  max-width:100%;
  border-radius: 25px;
  
  
  }