main {
  color: #8E14E0;
  outline-style: double;
  outline-color: #8E14E0;
  padding: 25px;
  font-family: "Gantari";
  background-color: rgba(56, 173, 33, 0.4);
  background-clip: padding-box;
  backdrop-filter: blur(5px);
}

h1,
h2 {
  background-color: #21AD5D;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-style: double;
  border: 1px solid #8E14E0;
  box-shadow: 5px 5px #8E14E0;
}

h1 {
  margin-bottom: 50px;
}

#bgimg {
  position: absolute;
  left: 15%;
  top: 50%;
  opacity: 50%;
  z-index: -1;
}

#bgtcont {
  position: absolute;
  overflow: hidden;
  width: 100px;
  left: 75%;
  top: 0;
  bottom: -210px;
  min-height: 100%;
  z-index: -1;
}

#bgtext {
  font-size: 100px;
  font-weight: bold;
  position: absolute;
  left: 50px;
  white-space: nowrap;
  overflow: hidden;
  rotate: 90deg;
  transform-origin: 0%;
  -webkit-transform-origin: 0%;
}