body {
    background-color: rgb(207, 199, 199);
    margin: 20px;
}

h1 {
  color: white;
  background-color: red;
  padding: 30px;
  border: 2px solid black;
  margin: 0px;
  text-align: center
}

p { color: black;}
  
  table {
    font-family: arial, sans-serif;
    border:1px solid black;
    /*border-collapse: collapse;*/
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }