p {
    color: red;
    color: #000106;
  }
h1 {
    font-family: 'Contrail One', cursive;
    color: #000106;
    background: #67FFEF;
  }
h2 {
    color: #000106;
    background: #67FFEF;
  }
s {
    margin-left: 5px;
    color: #000106;
  }
ol {
  color: #000106;
  background: #67FFEF;
  font-size: medium;
}