body {
    background-color: rgb(207, 199, 199);
  }
  h1 {
    color: white;
    background-color: red;
    padding: 30px;
    border: 2px solid rgb(235, 41, 225);
    margin: 50px;
    text-align: center
  }
  p {
    color: red;
  }